{
  "error": "no-error",
  "transactions": [
    {
      "amount": -34300,
      "is-pending": false,
      "aggregation-time": 1412686740000,
      "account-id": "nonce:comfy-cc/hdhehe",
      "clear-date": 1412790480000,
      "transaction-id": "1412790480000",
      "raw-merchant": "7-ELEVEN 23853",
      "categorization": "Unknown",
      "merchant": "7-Eleven 23853",
      "transaction-time": "2014-10-07T12:59:00.000Z"
    },
    {
      "amount": -127900,
      "is-pending": false,
      "payee-name-only-for-testing": "Krispy Kreme Donuts",
      "aggregation-time": 1492232457216,
      "account-id": "nonce:comfy-cc/hdhehe",
      "clear-date": 1492274760000,
      "memo-only-for-testing": "Example Memo",
      "transaction-id": "1492274760000",
      "raw-merchant": "Krispy Kreme Donuts",
      "categorization": "Restaurants",
      "merchant": "Krispy Kreme Donuts",
      "transaction-time": "2017-04-14T00:00:00.000Z"
    },
    {
      "amount": -471300,
      "is-pending": false,
      "payee-name-only-for-testing": "Wal-Mart Super Center",
      "aggregation-time": 1492232457216,
      "account-id": "nonce:comfy-cc/hdhehe",
      "clear-date": 1492290300000,
      "memo-only-for-testing": "Example Memo",
      "transaction-id": "1492290300000",
      "raw-merchant": "Wal-Mart Super Center",
      "categorization": "Shopping",
      "merchant": "Wal-Mart Super Center",
      "transaction-time": "2017-04-14T00:00:00.000Z"
    },
    {
      "amount": 17108400,
      "is-pending": false,
      "payee-name-only-for-testing": "ZENPAYROLL",
      "aggregation-time": 1492232457216,
      "account-id": "nonce:comfy-checking/hdhehe",
      "clear-date": 1492185180000,
      "memo-only-for-testing": "Example Memo",
      "transaction-id": "1492185180000",
      "raw-merchant": "ZENPAYROLL",
      "categorization": "Paycheck",
      "merchant": "Zenpayroll",
      "transaction-time": "2017-04-14T00:00:00.000Z"
    }
  ]
}
